{% extends "::base.html.twig" %}

{% block title %} - Editer son profil{% endblock %} 
{% set active_page = "Editer son profil" %}
{% block body %}
    <div class="col-lg-12">
        <form action="{{ path('sonata_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" role="form">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Editer son profil</h3>
                </div>
                <div class="panel-body">
                    <div class="text-danger">{{ form_errors(form) }}</div>
                    <div class="form-group">
                        <label for="{{ form.firstname.vars.id }}" class="col-sm-4 control-label">Prénom :</label>
                        <div class="col-sm-8">
                            <input type="text" value="{{ form.firstname.vars.value }}" name="{{ form.firstname.vars.full_name }}" class="form-control" id="{{ form.firstname.vars.id }}" placeholder="Prénom">
                        </div>
                    </div>
                    <div class="text-danger">{{ form_errors(form.firstname) }}</div>
                    <div class="form-group">
                        <label for="{{ form.lastname.vars.id }}" class="col-sm-4 control-label">Nom :</label>
                        <div class="col-sm-8">
                            <input type="text" value="{{ form.lastname.vars.value }}" name="{{ form.lastname.vars.full_name }}" class="form-control" id="{{ form.lastname.vars.id }}" placeholder="Nom">
                        </div>
                    </div>
                    <div class="text-danger">{{ form_errors(form.lastname) }}</div>
                    <div class="form-group">
                        <label for="{{ form.phone.vars.id }}" class="col-sm-4 control-label">Téléphone :</label>
                        <div class="col-sm-8">
                            <input type="tel" value="{{ form.phone.vars.value }}" name="{{ form.phone.vars.full_name }}" class="form-control" id="{{ form.phone.vars.id }}" placeholder="Téléphone">
                        </div>
                    </div>
                    <div class="text-danger">{{ form_errors(form.phone) }}</div>
                    <input type="hidden" name="{{ form._token.vars.full_name }}" class="form-control" id="{{ form._token.vars.id }}" value="{{ form._token.vars.value }}">
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-4">
                            <input type="submit"  name="submit" value="Enregistrer" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock body %}
